@{
    ViewData["Title"] = "Home";
}

<h2>Dashboard</h2>

<div class="card-container">
    <div class="card">
        <h3>Total Products</h3>
        <p>120</p>
    </div>

    <div class="card">
        <h3>Total Employees</h3>
        <p>15</p>
    </div>

    <div class="card">
        <h3>Total Sales</h3>
        <p>₹50,000</p>
    </div>
</div>